{% extends 'base.html.twig' %}

{% block title %}Concierto index{% endblock %}

{% block body %}
    <h1>Concierto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Numero_espectadores</th>
                <th>Fecha</th>
                <th>Rentabilidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concierto in conciertos %}
            <tr>
                <td>{{ concierto.id }}</td>
                <td>{{ concierto.name }}</td>
                <td>{{ concierto.numeroEspectadores }}</td>
                <td>{{ concierto.fecha ? concierto.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ concierto.rentabilidad }}</td>
                <td>
                    <a href="{{ path('concierto_show', {'id': concierto.id}) }}">show</a>
                    <a href="{{ path('concierto_edit', {'id': concierto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('concierto_new') }}">Create new</a>
{% endblock %}
